@media screen and (min-width: 768px) {
  .weatherImg {
    width: 25px;
  }
  .mytd{
      width: auto;
  }
}

@media screen and (max-width: 576px) {
  .weatherImg {
    width: 25px;
  }
  ul{
    font-size: 11px;
  }

  table{
    font-size: 11px;
  }

  .btn{
  font-size: small;
  }

  h3{
    font-size: medium;
  }
}


td{
    display: table-cell;
}



