/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

 .box1 {
   height: 500px;
   margin: 20px;
   display: flex;
   color: white;
   justify-content: center;
   align-items: center;
   background: #7d0000;
    }
.box1 h1 {
     font-size: 60px;
   };
.box2 {

height: 500px;
margin: 20px;
display: flex;
color: white;
justify-content: center;
align-items: center;
background: #cd3700;
}

.box2 h1 {
  font-size: 60px;
}

;